*{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
div.tooltip {	
    position: absolute;			
    text-align: center;								
    padding: .2rem;				
    background: #ffffff;
    border: 1px solid #030303;
    color: #000000;	
    border-radius: 2px;			 
    pointer-events: none;
    font-size: .8rem;			
}
.title-line-chart{
    color: "#000000";
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.sub-title-line-chart{
    color: "#000000";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    
}