/*
  Tooltip
*/
.tooltip-dataFTHT {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #00ff00;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataFTHT::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #00ff00 transparent transparent transparent;
}

.tooltip-dataFTHP {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #29abe2;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataFTHP::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #29abe2 transparent transparent transparent;
}

.tooltip-dataFTHP {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #29abe2ff;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataFTHP::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #29abe2ff transparent transparent transparent;
}

.tooltip-dataFlowRate {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #66B38Dff;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataFlowRate::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #66B38Dff transparent transparent transparent;
}

.tooltip-dataCurrent {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #A10000;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataCurrent::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #A10000 transparent transparent transparent;
}

.tooltip-dataFrequency {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #248167ff;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataFrequency::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #248167ff transparent transparent transparent;
}

.tooltip-dataMotorTemp {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #DC96EAff;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataMotorTemp::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #DC96EAff transparent transparent transparent;
}

.tooltip-dataSuctionPressure {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #FF6396;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataSuctionPressure::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #FF6396 transparent transparent transparent;
}

.tooltip-dataSuctionTemp {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #bda9bd;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataSuctionTemp::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #bda9bd transparent transparent transparent;
}

.tooltip-dataVoltage {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #bda9bd;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-dataVoltage::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #bda9bd transparent transparent transparent;
}
/*
  End
*/

.tooltip-data-prediction {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #FF6FF2;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tooltip-data-prediction::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #FF6FF2 transparent transparent transparent;
}

.btn-button{
  border-width: 0px; 
  font-weight: 900;
  cursor: pointer; 
  outline: none; 
  opacity: 1; 
  z-index: 999; 
  padding: 0px; 
  margin: 0px;
  visibility: visible;
  padding: 0px 2% 0px 2%;
  
}

.btn-button-inactive {
  color: #999ca3ff; 
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through; 
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.container-btn{
  /* padding: 0px 10% 0px 10%; */
  /* margin: 0px 6% 0px 6%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.FTHP{
  color: #29abe2ff; 
}

.FTHT{
  color: #aa00aa; 
}

.current {
  color: #A10000;
}
.FlowRate{
  color: #A0C4E2;
}
.Current{
  color: #F28123;
}

.Frequency{
  color: #3276C6;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.tick line{
  opacity: 0.2;
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
} 



.favorite-content {
  position: absolute;
  width: 98%;
  height: 98%;
}

svg {
  width: 100%;
  height: 100%;
}

.stat text,
.axis text {
  font: 9px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.focus-path,
.context-path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  clip-path: url(#clip);
}

.focus-line {
  stroke-dasharray: 3,3;
  stroke-width:2;
}

.brush .extent {
  /* stroke: #000; */
  fill-opacity: .125;
  /* shape-rendering: crispEdges; */
}

.resize rect {
  fill: #ffffff;
  fill-opacity: .8;
  /* stroke: #000; */
  stroke-width: 1px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}


/* ESPLineChart8.js */
.tooltip-current {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid rgb(10, 145, 255);		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 10px;	
  width: 200px;
  height: 230px;
  background-color: #eeeeee;
}

.tooltip-current::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(10, 145, 255);
}

.tooltip-predict {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #ffffff;
  color: #000000;	
  border: 1px solid #ff00ff88;		
  background-color: #eeeeee;
  border-radius: 4px;			
  pointer-events: none;
  font-size: 10px;	
  width: 200px;
  height: 230px;
}
.tooltip-predict::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ff00ff88 transparent transparent ;
}

.show-value {
  margin: 0px !important;
  padding: 0px !important;
}
.title-table-tooltip {
  font-size: 12px;
  font-weight: 900;
  text-align: left;
}
.row-table-tooltip{
  text-align: left;
}
.row-table-tooltip-value{
  text-align: right;
}


/* #PDVoltage{
  stroke-width: 10;
  stroke: #00ff00;
} */