.point-tip {
  position: absolute;			
  text-align: center;								
  padding: .5rem;				
  background: #5a5a5a;
  color: #ffffff;	
  border: 1px solid #888888;		
  border-radius: 4px;			
  pointer-events: none;
  font-size: 16px;	
}
.tttitle{
  display: inline;
  font-weight: 600 !important;
}
.ttvalue{
  display: inline;
  margin-left: 10px !important;
}
.ttrow{
  display: block;
}