.width-100-p {
    width: 100%;
}
/* width */
::-webkit-scrollbar {
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.dyna-hover:hover {
    background-color: rgba(99, 97, 97, 0.432);
    cursor: grab;
}
.scroll-container {
    width: 100%;
}
.not-found-device{
    width: 100%;
    padding: 5%;
    text-align: center;
}
.change-color {
    border-radius: 4px;
    border: 3px solid rgba(9, 113, 187, 0.712);
}
.change-color-default {
    border-radius: 0px;
    border: 0px solid rgba(9, 113, 187, 0);
}