#table_detail_current {
  border-collapse: collapse;
  width: 100% ;
}

#table_detail_current td, #table_detail_current th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_detail_current tr:nth-child(even){background-color: #f2f2f2;}

/* #table_detail_current tr:hover {background-color: #ddd;} */

#table_detail_current th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}